<%- include('./partials/head.ejs') %> 
<link rel="stylesheet" href="/css/cart.css">

<%- include('./partials/header.ejs') %> 

    <main id="main-cart">

    <% if (lsCart) { %>

        <ul class="ul-cart">
            <% lsCart.forEach(element => { %>
                <%- include('./partials/cart-list.ejs', {element:element}) %>

            <% }) %>

            <li class="li-cart li-total">
                <button class="empty">VACIAR CARRITO</button>
                <p class="total">TOTAL: </p>
            </li>
        </ul>

    <% } else { %>
        <h1>NO HAY PRODUCTOS EN EL CARRITO</h1>
    <% } %>

    </main>

    <div class="buy">
        <a href=""><button>BUY NOW</button></a>
    </div>
    
<script src="/scripts/cart.local.storage.js"></script>
<script src="/scripts/cart/increment-decrement.js"></script>
<script src="/scripts/api.post.ls.js"></script>
</body>
</html>
