<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">

<%- include('./partials/header.ejs') %> 

    <main id="main-form">
        <form class="form-add" action="/products/save" method="post"  enctype='application/x-www-form-urlencoded'>

            <span class="title-form">NEW PRODUCT</span>

            <input type="text" placeholder="Product Name" name="title" id="title" required>
            <input type="number" placeholder="Price" name="price" required>
            <input type="number" placeholder="Stock" name="stock" required>
            <div id="button-add">
                <button type="submit" class="button-add"> Agregar producto </button>
            </div>
        </form>
    </main>

</html>