<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">

<%- include('./partials/header.ejs') %> 

    <main id="main-form">
        <form class="form-add" action="/products/save" method="post" enctype="multipart/form-data">

            <span class="title-form">NEW PRODUCT</span>

            <input type="text" placeholder="Product Name" name="name" id="name">
            <input type="number" placeholder="Price" name="price">
            <input type="number" placeholder="Stock" name="stock">
            <div id="button-add">
                <button type="submit" class="button-add"> Agregar producto </button>
            </div>
        </form>
    </main>

</html>