<%- include('./partials/head.ejs') %> 

<%- include('./partials/header.ejs') %> 

    <main id="products-main">

        <% if (products.length > 0) { %>
            <ul class="products-ul">
                <% products.forEach(product => { %>
                    <%- include('./partials/producti-list.ejs', {product:product}) %>
                <% }) %>
            </ul>
        <% } else { %>
            <h2>NO HAY PRODUCTOS</h2>
        <% } %>

    </main>

    
<%- include('./partials/footer.ejs') %> 
<script src="/scripts/local-storage.js"></script>
</body>
</html>

