<%- include('./partials/head.ejs') %> 

<%- include('./partials/header.ejs') %> 

    <main id="products-main">

        <ul class="products-ul">

            <li class="product-li">
                <section >
                    <picture>
                        <img src="/img/product.jpg" alt="">
                    </picture>
                    <section class="text">
                        <p class="product-name">product name</p>
                        <p class="product-price">product price</p>
                    </section>
                    <section class="button">
                        <button>Add to Cart</button>
                    </section>
                </section>
            </li>


            <li class="product-li">
                <section>
                    <picture>
                        <img src="/img/product.jpg" alt="">
                    </picture>
                    <section class="text">
                        <p class="product-name">product name</p>
                        <p class="product-price">product price</p>
                    </section>
                    <section class="button">
                        <button>Agregar</button>
                    </section>
                </section>
            </li>

            <li class="product-li">
                <section>
                    <picture>
                        <img src="/img/product.jpg" alt="">
                    </picture>
                    <section class="text">
                        <p class="product-name">product name</p>
                        <p class="product-price">product price</p>
                    </section>
                    <section class="button">
                        <button>Agregar</button>
                    </section>
                </section>
            </li>
            
        </ul>

    </main>

    
<%- include('./partials/footer.ejs') %> 
<script src="/scripts/script.js"></script>
</body>
</html>

