    <header id="header">
        <div class="header-container">
            <a class="logo" href="/">CART EXAMPLE</a>
            <a class="icon" href="/cart/resume"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </header>