    <header id="header">
        <div class="header-container">
            <a class="logo" href="/products">CART EXAMPLE</a>
            <a class="icon" href="/cart/resume"><i class="fa-solid fa-cart-shopping"><span class="quantity-header">0</span></i></a>
        </div>
    </header>