    <li class="product-li">
        <a class="product-a" href="/products/detail/<%=product.id  %>">
            <section>
                <picture>
                    <img src="/img/product.jpg" alt="product-img">
                </picture>
                <section class="text">
                    <p class="product-name"><%= product.title %></p>
                    <p class="product-price">$ <%= product.price %></p>
                </section>
                <section class="button">
                    <button class="add-cart" data-id="<%= product.id %>" >Add to Cart</button>
                </section>
            </section>
        </a>
    </li>
