#header{
    display: flex;
    width: 100%;
    background-color: rgb(49, 141, 223);
    height: 70px;
}

.header-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

#header a{
    font-size: 2rem;
    color: #faf5f5;
}

.logo{
    text-decoration: none;
}

#header a:hover{
    color: rgb(219, 219, 219);
}

.quantity-header{
    position: relative;
    height: 5px;
    width: 5px;
    right: 20px;
    bottom: 15px;
    font-size: .65rem;
    background-color: red;
    border-radius: 60px;
    padding: 0 2px;
}
    