#header{
    display: flex;
    width: 100%;
    background-color: rgb(49, 141, 223);
    height: 70px;
}

.header-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

#header a{
    display:flex;
    font-size: 2rem;
    color: #faf5f5;
    align-items: center;
    text-decoration:none;
}

#header i{
    font-weight: bold;
}

.logo{
    text-decoration: none;
}

#header a:hover{
    color: rgb(219, 219, 219);
}

.quantity-header{
    position: relative;
    color: red;
    font-weight: bold;
    height: 5px;
    width: 5px;
    right: 20px;
    bottom: 15px;
    font-size: .65rem;
    border-radius: 60px;
    padding: 0 2px;
}

#header button{
    padding: 5px;
    background-color: #fff;
    border: none;
    background-color: #fff;
    color: rgb(49, 141, 223);
    outline: none;
    cursor: pointer;
}