@import url(header.css);
@import url(footer.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#products-main{
    display: flex;
    width: 100vw;
    margin: auto;
    background-color: #faf5f5;
}

#main-detail{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%:
}
#main-detail .descrption{
    display:flex;
    width: 90%;
    height: 20vh;
    border:#000 solid 1px;
    margin: 1rem auto;
}

#main-detail h2{
    display:flex;
    margin:auto;
    
}

.products-ul{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 2rem auto;
}

.product-li{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 1rem auto;
    padding: 1rem ;
}

.product-a{
    text-decoration:none;
}

.product-li:hover{
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);
}

.product-li picture{
    width: 80%;
}

.product-li picture img{
    width: 100%;
}

.product-li .text{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px solid #ccc;
}

.product-li section p{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: black;
}

.product-li .button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}
.product-li button{
    width: 50%;
    height: 2rem;
    border: none;
    background-color: rgb(49, 141, 223);
    color: white;
    outline: none;
    cursor: pointer;
}

.product-li button:hover{
    background-color: rgb(27, 127, 214);
}


@media all and (min-width: 768px){
    #products-main{
        width: 80vw;
    }
    .product-li{
        width: 45%;
    }
}

@media all and (min-width:1200px){
    .product-li {
            width: 30%;
        }
}
